<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search.css') }}">
    <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Source+Code+Pro:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">

    <title>Search Engine</title>
</head>

<body>
    <div class="container">
        <div class="input-section">
            <h1>Search Engine</h1>
            <form action="/search">
                {% if query %}
                <input type="search" name="q" placeholder="Enter your query"  value="{{ query }}">
                {% else %}
                <input type="search" placeholder="Enter your query" name="q">
                {% endif %}
                <input type="submit" value="Search">
            </form>
        </div>

        {% if query %}
        <div class="results">
            <p>Search Time: <span>{{ search_time_milliseconds }} </span>milliseconds</p>
            <ol>
                {% for url in urls %}
                <li><a href="{{ url }}">{{ url }}</a></li>
                {% endfor %}
            </ol>
        </div>
        {% endif %}
    </div>
</body>

</html>